@model shop.WebApp.Models.CustomerModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Customer</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="custid" class="control-label">Customer Id</label>
                <input asp-for="custid" class="form-control" min="0" />
                <span asp-validation-for="custid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyname" class="control-label">Company Name</label>
                <input asp-for="companyname" class="form-control" />
                <span asp-validation-for="companyname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactname" class="control-label">Contact Name</label>
                <input asp-for="contactname" class="form-control" />
                <span asp-validation-for="contactname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contacttitle" class="control-label">Contact Title</label>
                <input asp-for="contacttitle" class="form-control" />
                <span asp-validation-for="contacttitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">E-mail</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fax" class="control-label">Fax</label>
                <input asp-for="fax" class="form-control" />
                <span asp-validation-for="fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label">Phone</label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label">City</label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country" class="control-label">Country</label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="region" class="control-label">Region</label>
                <input asp-for="region" class="form-control" />
                <span asp-validation-for="region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label">Address</label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postalcode" class="control-label">Postal Code</label>
                <input asp-for="postalcode" class="form-control" />
                <span asp-validation-for="postalcode" class="text-danger"></span>
            </div>
            <div class="form-group" id="botones">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vuelta a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}