@model shop.Web.Models.Request.OrderUpdateRequest
@{
    ViewData["Title"] = "Edit";
}

<style>
    #botones {
        margin: 25px 0 25px 0;
    }

    input {
        height: 30px;
    }
</style>

<h1>Edit Order</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="custid" class="control-label">Customer Id</label>
                <input asp-for="custid" class="form-control" min="0" />
                <span asp-validation-for="custid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="freight" class="control-label">Freight</label>
                <input asp-for="freight" class="form-control" />
                <span asp-validation-for="freight" class="text-danger"></span>
            </div>

            @*
            <div class="form-group">
            <label asp-for="discontinued" class="control-label">Discontinued</label>
            <input asp-for="discontinued" class="form-control" />
            <span asp-validation-for="discontinued" class="text-danger"></span>
            </div>
            *@

            <div class="form-group" id="botones">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vuelta a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}